# PCDP_stack.yaml
name: PCDP_stack

# 368640
pointcloud_shape: [92160, 6]  # max_points, XYZRGB
dataset_path: data/simple_stack_3/recorder_data

shape_meta: &shape_meta
  # acceptable types: pointcloud, low_dim
  obs:
    pointcloud:
      shape: ${task.pointcloud_shape}
      type: pointcloud
    robot_obs:
      shape: [7]  # 6DOF + gripper_width
      type: low_dim
  action: 
    shape: [7]  # 6DOF + gripper_toggle


env_runner:
  _target_: pcdp.env_runner.PCDP_runner.PCDPPointCloudRunner

dataset:
  _target_: pcdp.dataset.PCDP_stack_dataset.PCDP_RealStackPointCloudDataset
  shape_meta: *shape_meta
  dataset_path: ${task.dataset_path}
  horizon: ${horizon}
  pad_before: ${eval:'${n_obs_steps}-1+${n_latency_steps}'}
  pad_after: ${eval:'${n_action_steps}-1'}
  n_obs_steps: ${dataset_obs_steps}
  n_latency_steps: ${n_latency_steps}
  use_cache: True
  seed: 233
  val_ratio: 0.00
  max_train_episodes: null
  voxel_size: 0.005
  

  enable_pc_preprocessing: True
  pc_preprocessor_config:
    enable_transform: True
    enable_cropping: True
    enable_sampling: False
    target_num_points: 1024
    enable_rgb_normalize: True
    enable_filter: True
    nb_points: 15
    sor_std: 1.7
    use_cuda: True
    verbose: False

    # Camera to robot transformation matrix (4x4). 
    extrinsics_matrix:
      - [  0.007131,  -0.91491,    0.403594,  0.05116]
      - [ -0.994138,   0.003833,   0.02656,  -0.00918]
      - [ -0.025717,  -0.403641,  -0.914552, 0.50821]
      - [ 0.,         0. ,        0. ,        1.    ]
    
    # Workspace bounds [x_min, x_max], [y_min, y_max], [z_min, z_max]
    workspace_bounds:
      - [-0.000, 0.715]    # X range (meters)
      - [-0.400, 0.350]   # Y range (meters)  
      - [-0.100, 0.400]    # Z range (meters)
    
    # normalize rgb values
    rgb_mean: [0.0286, 0.0286, 0.0286]
    rgb_std: [0.1690, 0.1690, 0.1690]
  enable_low_dim_preprocessing: True
  low_dim_preprocessor_config:
    robot_to_base:
      - [1., 0., 0., -0.04]
      - [0., 1., 0., -0.29]
      - [0., 0., 1., -0.03]
      - [0., 0., 0., 1.]
    
