# RISE_stack.yaml
name: RISE_stack

# 368640
pointcloud_shape: [92160, 6]  # max_points, XYZRGB
dataset_path: data/real_stack/recorder_data

shape_meta: &shape_meta
  # acceptable types: pointcloud, low_dim
  obs:
    pointcloud:
      shape: ${task.pointcloud_shape}
      type: pointcloud
    robot_eef_pose:
      shape: [6]  # 6DOF + gripper
      type: low_dim
    # robot_joint:
    #   shape: [7]  # 7개 관절
    #   type: low_dim
    robot_gripper:
      shape: [3]
      type: low_dim
    # align_timestamp:
    #   shape: [1]
    #   type: low_dim
  action: 
    shape: [7]  # 6DOF + gripper


env_runner:
  _target_: pcdp.env_runner.RISE_runner.RISEPointCloudRunner

dataset:
  _target_: pcdp.dataset.RISE_stack_pc_dataset.RealStackPointCloudDataset
  shape_meta: *shape_meta
  dataset_path: ${task.dataset_path}
  horizon: 20
  n_obs_steps: 1
  use_cache: True
  voxel_size: 0.005
  seed: 233
  val_ratio: 0.15
  max_train_episodes: null
  aug: False
  aug_trans_min: [-0.2, -0.2, -0.2]
  aug_trans_max: [0.2, 0.2, 0.2]
  aug_rot_min: [-30, -30, -30]
  aug_rot_max: [30, 30, 30]
  aug_jitter: False
  aug_jitter_params: [0.4, 0.4, 0.2, 0.1]
  aug_jitter_prob: 0.2

  enable_preprocessing: True
  preprocessor_config:
    target_num_points: 1024
    enable_transform: True
    enable_cropping: True
    enable_sampling: False
    use_cuda: True
    verbose: False
    # Camera to robot transformation matrix (4x4). 
    extrinsics_matrix:
      - [  0.007131,  -0.91491,    0.403594,  0.05116]
      - [ -0.994138,   0.003833,   0.02656,  -0.00918]
      - [ -0.025717,  -0.403641,  -0.914552, 0.50821]
      - [ 0.,         0. ,        0. ,        1.    ]
    
    # Workspace bounds [x_min, x_max], [y_min, y_max], [z_min, z_max]
    workspace_bounds:
      - [-0.800, 0.800]    # X range (meters)
      - [-0.500, 0.500]   # Y range (meters)  
      - [-0.100, 0.350]    # Z range (meters)

