# real_stack_pointcloud.yaml
name: real_stack_pointcloud

# 368640
pointcloud_shape: [8192, 6]  # max_points, XYZRGB
dataset_path: bb/recorder_data

shape_meta: &shape_meta
  # acceptable types: pointcloud, low_dim
  obs:
    pointcloud:
      shape: ${task.pointcloud_shape}
      type: pointcloud
    robot_eef_pose:
      shape: [6]  # 6DOF + gripper
      type: low_dim
    # robot_joint:
    #   shape: [7]  # 7개 관절
    #   type: low_dim
    robot_gripper:
      shape: [3]
      type: low_dim
    # align_timestamp:
    #   shape: [1]
    #   type: low_dim
  action: 
    shape: [6]  # 6DOF + gripper


env_runner:
  _target_: diffusion_policy.env_runner.real_stack_pointcloud_runner.RealStackPointCloudRunner

dataset:
  _target_: diffusion_policy.dataset.real_stack_pc_dataset.RealStackPointCloudDataset
  shape_meta: *shape_meta
  dataset_path: ${task.dataset_path}
  horizon: ${horizon}
  pad_before: ${eval:'${n_obs_steps}-1+${n_latency_steps}'}
  pad_after: ${eval:'${n_action_steps}-1'}
  n_obs_steps: ${dataset_obs_steps}
  n_latency_steps: ${n_latency_steps}
  use_cache: True
  seed: 42
  val_ratio: 0.00
  max_train_episodes: null
  

  enable_preprocessing: True
  preprocessor_config:
    target_num_points: 8192
    enable_transform: True
    enable_cropping: False
    enable_sampling: True
    use_cuda: True
    verbose: False
    # Camera to robot transformation matrix (4x4)
    extrinsics_matrix:
      - [ 0.5213259,  -0.84716441,  0.10262438,  0.04268034]
      - [ 0.25161211,  0.26751035,  0.93012341,  0.15598059]
      - [-0.81542053, -0.45907589,  0.3526169,   0.47807532]
      - [ 0.0,          0.0,          0.0,          1.0]
    
    # Workspace bounds [x_min, x_max], [y_min, y_max], [z_min, z_max]
    workspace_bounds:
      - [0.65, 1.1]    # X range (meters)
      - [0.45, 0.66]   # Y range (meters)  
      - [-0.7, 0.0]    # Z range (meters)

