name: real_stack_point

pointcloud_shape: [368640, 6]  # max_points, XYZRGB
dataset_path: aa

shape_meta: &shape_meta
  # acceptable types: pointcloud, low_dim
  obs:
    pointcloud:
      shape: ${task.pointcloud_shape}
      type: pointcloud
    robot_eef_pose:
      shape: [6]  # 6DOF + gripper
      type: low_dim
    # robot_joint:
    #   shape: [7]  # 7개 관절
    #   type: low_dim
  action: 
    shape: [6]  # 6DOF + gripper

dataset:
  _target_: diffusion_policy.dataset.real_stack_pc_dataset.RealStackPointCloudDataset
  shape_meta: *shape_meta
  dataset_path: ${task.dataset_path}
  horizon: ${horizon}
  pad_before: ${eval:'${n_obs_steps}-1+${n_latency_steps}'}
  pad_after: ${eval:'${n_action_steps}-1'}
  n_obs_steps: ${dataset_obs_steps}
  n_latency_steps: ${n_latency_steps}
  use_cache: True
  seed: 42
  val_ratio: 0.00
  max_train_episodes: null
  delta_action: False
  apply_preprocessing: False
  use_cuda: True

test:
  batch_size: 4
  num_workers: 2
  benchmark_samples: 10